 .contenair{
    height: 1032px;
 }
 /*tête de page*/
.tete_de_page{
    display: flex;
    flex-direction: row;
    height: 76px;
    justify-content: space-between;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    background-color: #fff; 
    z-index: 1000; 
}
#logocr{
    height: 76px;
    width: 292px;
    object-fit: cover;
}
.bouton_tete_de_page{
    display: flex;
    gap: 25px;
}
.boutonh{
    border: none;
}
/*mise en avant*/
.mise_en_avant{
    width: 100%;
    height: 362px;
    background-image: url("istockphoto-1394122245-612x612 (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.titre{
    margin-top: 100px;
    margin-left: 100px;
    width: 533px;
    height: 110px;
    display: flex;
    align-items: flex-end;
}
.sous-titre{
    margin-left: 100px;
    width: 717px;
    height: 123px;
}
/*corps*/
#phrase{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#vestiboutique{
    width: 211px;
    height: 192px;
}
#Brocante{
    width: 226px;
    height: 151px;
}
#Formations{
    width: 242px;
    height: 127px;
}
#activites3{
    display: flex;
    justify-content: space-around;
}
.Halte_Repit{
    display: flex;
    justify-content:center;
}
#Halte_Repit{
    width: 478px;
    height: 159px;
}
#titreP{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#textP{
    display: flex;
    justify-content: center;
}
#voir-plus{
    width: auto;
    height: 60px;
    margin-top: 100px;
    object-fit: cover;
}
.voir-plus{
    display: flex;
    justify-content: center;
}
/*footer*/
.bas-de-page{
    display: flex;
    justify-content:center;
    gap: 20px;
}