.tete_de_page{
    display: flex;
    flex-direction: row;
    height: 77px;
    justify-content: space-between;
}
#logocr{
    height: 76px;
    width: 292px;
    object-fit: cover;
}
.bouton_tete_de_page{
    display: flex;
}
h2{
    margin: 25px;
}
